<div class="nested-fields">
  <%= f.label :option, 'Poll Option', class: 'form-label' %>
  <%= f.text_field :option, class: 'form-control' %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, 'Remove', class: 'form-check-label' %>
</div>
