.container {
  perspective: 1000px;
}

body {
  background-color: #000000;
  color: #fff;
}

.event-title {
  color: white;
  font-weight: lighter;
  font-style: normal;
  font-size: 2rem;
}

.card-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-button{
  font-family: "Playwrite GB S", cursive;
  font-weight: light;
  background-color: #000000;
  color: white;
  border-radius: 0.5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border-bottom: 1px solid #ffffff17;
}

.card-title {
  margin: 0;
  font-weight: lighter;
  font-style: normal;
  font-size: 2.5rem;
  color: #000;
}

/* Card Content Styling */
.card-content {
  display: none;
  padding: 20px;
  background-color: #fff;
  color: #000;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: calc(100vh - 100px); /* Adjust height to fit within viewport */
}

/* Event Description Card Specific Styles */
.event-description-card .card-title {
  background-color: #f78837;
  color: #000000;
}

.event-description-card{
  width: 80%;
  max-width: 50rem;
  margin-bottom: -46rem;
  height: 50rem;
  cursor: pointer;
  transition: transform 0.5s, opacity 1.5s, width 0.5s, height 0.5s;
  transform-style: preserve-3d;
  background-color: #fff;
  border: 0px solid #000;
  border-radius: 30px;
  overflow: hidden;
  background-color: #f78837;
}

.event-description-card:hover{
  transform: scale(1.05);
}

.event-description-card .card-header {
  background-color: #f78837 !important;
}

.event-description-card .card-content {
  background-color: #f78837 !important;
  font-size: calc(1vw + 0.5rem);
  overflow-y: auto;
}

/* Invite Users Card Specific Styles */
.invite-users-card .card-title {
  background-color: #D07597;
  color: #000000;
}

.invite-users-card {

  width: 80%;
  max-width: 50rem;
  margin-bottom: -46rem; /* Overlap the cards */
  height: 50rem;
  cursor: pointer;
  transition: transform 0.5s, opacity 1.5s, width 0.5s, height 0.5s;
  transform-style: preserve-3d;
  background-color: #fff;
  border: 0px solid #000;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 5rem;
  background-color: #D07597;
}


.invite-users-card:hover{
  transform: scale(1.05);
}


.invite-users-card .card-header {
  background-color: #D07597 !important;
}

.invite-users-card .card-content {
  background-color: #D07597 !important;
  overflow-y: auto;
}

/* Polls Card Specific Styles */
.polls-card .card-title {
  background-color: #a9db1b;
  color: #000000;
}

.polls-card {

  width: 80%;
  max-width: 50rem;
  margin-bottom: -46rem; /* Overlap the cards */
  height: 50rem;
  cursor: pointer;
  transition: transform 0.5s, opacity 1.5s, width 0.5s, height 0.5s;
  transform-style: preserve-3d;
  background-color: #fff;
  border: 0px solid #000;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 10rem;
  background-color: #a9db1b !important;
}

.polls-card:hover{
  transform: scale(1.05);
}


.polls-card .card-header {
  background-color: #a9db1b !important;
}

.polls-card .card-content {
  background-color: #a9db1b !important;
  overflow-y: auto;
}

/* Comments Card Specific Styles */
.comments-card .card-title {
  background-color: #66ccff;
  color: #000;
}

.comments-card{

  width: 80%;
  max-width: 50rem;
  margin-bottom: -46rem; /* Overlap the cards */
  height: 50rem;
  cursor: pointer;
  transition: transform 0.5s, opacity 1.5s, width 0.5s, height 0.5s;
  transform-style: preserve-3d;
  background-color: #fff;
  border: 0px solid #000;
  border-radius: 30px;
  overflow: hidden;
  margin-left: 15rem;
  background-color: #66ccff !important;
}

.btn-pin {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1rem;
}

.btn-pin:hover {
  color: #0056b3;
}



.comments-card:hover{
  transform: scale(1.05);
}

.comments-card .card-header {
  background-color: #66ccff !important;
}

.comments-card .card-content {
  background-color: #66ccff !important;
  overflow-y: auto;
}

/* Active Card Styles */
.card.active {
  transform: translateY(-6rem) rotateX(0deg) scale(1.1);
  margin-left: 0;
  transition: transform 0.5s, margin-left 0.5s, opacity 0.7s;
  z-index: 10;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.card.active .card-content {
  display: block;
  overflow-y: auto; /* Ensure vertical scrolling when expanded */
  max-height: calc(100vh - 60px); /* Adjust height to fit within viewport */
}

/* Non-Active Card Styles */
.event-description-card:not(.active){
  opacity: 0.8;
}

.invite-users-card:not(.active){
  opacity: 0.8;
}

.polls-card:not(.active){
  opacity: 0.8;
}

.comments-card:not(.active){
  opacity: 0.8;
}

.card:not(.active) .back-button{
  opacity: 0;
}

/* Progress Bar Styles */
.custom-progress {
  height: 1.5rem; /* Adjust the height of the progress bar */
  background-color: #a9db1b !important; /* Background color of the progress bar (same as the polls card) */
  border: 1px solid #000; /* Add a border to create an outline around the progress bar */
  border-radius: 10px; /* Optional: Adjust the border radius to match the progress bar */
  overflow: hidden; /* Ensure the progress bar stays within the outline */
}

.custom-progress-bar {
  color: #000 !important; /* Text color inside the progress bar */
  text-align: center; /* Center the text */
  line-height: 1.5rem !important; /* Ensure the text is vertically centered */
  background-color: #000 !important; /* Fill color of the progress bar */
}

.filler-text {
  opacity: 0;
}

/* Button Styles */
.btn-primary {
  background-color: #a9db1b;
  color: #000;
  border-color: #fff;
}

.btn-primary:hover {
  background-color: #000;
  color: #a9db1b;
  border-color: #ccc;
}

.btn-outline-secondary {
  color: #000;
  border-color: #000;
}

.btn-outline-secondary:hover {
  background-color: #000;
  color: #fff;
}

.index-body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.index-text{
  background-color: transparent;
  color: #ffffff;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding-top: 20px;
  transform: translateY(-10rem);
  animation: appear 1s ease-in;
}

.index-text h2{
  font-size: 2.5rem;
}

.typewriter-container{
  margin: auto; /* Center horizontally */
  font-weight: bolder;
  font-size: 8rem;
  background: linear-gradient(45deg, #ffa510, #ff5500, rgb(146, 52, 245), #00ba46, rgb(190, 190, 190));
  display: inline-block;
  white-space: nowrap;
  -webkit-background-clip: text;
  color: transparent;
  animation: spiral-colors 3s infinite linear;
  min-height: 10rem;
  overflow: visible;
  position: relative;
}

.typewriter-container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 85%; /* Default cursor height */
  width: 2px;
  background-color: #ffffff;
  animation: blinkCursor 1s step-end infinite;
}

@media (max-width: 767px) {
  .card-title{
    font-size: 2rem;
  }
  .event-description-card{
    margin-left: 0;
    margin-bottom: -45rem;
  }

  .event-description-card .card-content {
    font-size: 1.3rem;
  }

  .event-description-card:hover{
    transform: scale(1);
  }
  
  .invite-users-card{
    margin-left: 1.5rem;
    margin-bottom: -45rem;
  }

  .invite-users-card:hover{
    transform: scale(1);
  }

  .polls-card{
    margin-left: 3rem;
  }
  .polls-card:hover{
    transform: scale(1);
  }
  
  .comments-card {
    margin-left: 4.5rem;
  }
  .comments-card:hover{
    transform: scale(1);
  }  

  .index-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }
  
  .typewriter-container {
    font-size: 4rem;
    min-height: 10rem; 
    white-space: normal;
  }

  .typewriter-container::after {
    height: 1.1em;
  }

  .index-text h1 {
    font-size: 1.2rem;
    transform: translateY(0.005rem);
  }
  .index-text h2 {
    font-size: 3rem;
    transform: translateY(1.5rem);
  }

  .gradient-button{
    transform: translateY(-6rem);
  }

}

.gradient-button {
  text-decoration: none;
  font-family: "Playwrite GB S", cursive;
  font-weight: light;
  font-size: 2rem;
  padding: 10px 20px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(45deg, #ffa510, #ff5500, rgb(146, 52, 245), #00ba46, rgb(190, 190, 190));
  background-color: transparent;
  color: rgb(255, 255, 255);
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
}

.gradient-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffa510, #ff5500, rgb(146, 52, 245), #00ba46, rgb(190, 190, 190));
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}

.gradient-button:hover::before {
  opacity: 1;
}

.gradient-button:focus {
  outline: none;
}

.gradient-button:hover {
  color: rgb(255, 255, 255);
  border: 2px solid white;
}

/* General Navbar Styles */

.navbar{
  opacity: 0.7;
  transition: opacity 0.3s; 
}

.navbar:hover{
  opacity: 1;
}

.navbar .navbar-brand {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-family: "Playwrite GB S", cursive;
}

.eventWord{
  font-weight: bold;
  font-family: "Playwrite GB S", cursive;
  background: linear-gradient(45deg, #ffa510, #ff5500, rgb(146, 52, 245), #00ba46);
  background-clip: text;
  display: inline-block;
  transition: transform 0.3s ease-in-out; 
  -webkit-background-clip: text;
  color: transparent;
  animation: spiral-colors 3s infinite linear;
}

.eventWord:hover {
  transform: scale(1.1);
}

.navbar .navbar-title-it {
  font-size: 2.8rem;
  font-family: sans-serif;
  background: linear-gradient(45deg, #ffa510, #ff5500, rgb(125, 0, 255), #00ba46, rgb(190, 190, 190));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: spiral-colors 3s infinite linear;
}

.ITText{
  font-family: sans-serif;
  background: linear-gradient(45deg, #ffa510, #ff5500, rgb(125, 0, 255), #00ba46, rgb(190, 190, 190));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: spiral-colors 3s infinite linear;
}

/* Spiral Color Animation */
@keyframes spiral-colors {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Responsive Styles */
@media (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar .navbar-title-it {
    font-size: 2rem;
  }
}

@keyframes blinkCursor {
  0%, 100% { border-color: transparent; }
  50% { border-color: #ffffff; }
}

@keyframes appear {
  from{opacity: 0;}
  to{opacity: 1;}
}
