<div id="<%= dom_id vote %>">
  <p>
    <strong>Poll:</strong>
    <%= vote.poll_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vote.status %>
  </p>

</div>
